.krav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: #000;
    align-items: center;
}



@media (max-width: 1000px) {
    .krav {
        flex-direction: column;
        gap: 50px;
    }
}