.hero {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-image: url(../../assets/img/marcelo-banner.webp);
    background-color: #000;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;

    & .conteudo {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 20px;
        gap: 20px;


        & h1 {
            font-family: Impact;
            font-size: 7em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

            & span {
                color: #EB1C24;
            }
        }

        & p {
            font-weight: lighter;
            width: 60%;
            color: #ffffffbd;
            font-size: 2em;
        }

        .botoes {
            display: flex;
            flex-direction: row;
            gap: 30px;

            & .botao {
                width: fit-content;
                white-space: nowrap;
                border-radius: 10px;
                color: #ffffff;
                font-weight: bold;
                padding: 30px;
                box-shadow: 0 0 15px 5px rgba(252, 252, 252, 0.3);
                transition: .3s all;
                font-size: 1.5em;
                text-decoration: none;
                text-align: center;
            }

            & .red {
                background-color: red;
            }

            & .transparente {
                border: solid 2px #EB1C24;
                background-color: transparent;
            }


            & .botao:hover {
                transform: scale(1.1);
            }
        }
    }
}




@media (max-width: 1000px) {

    .hero {
        width: 100%;
        background-size: cover;
        overflow-x: hidden;

        & .conteudo {
            padding: 20px;
            align-items: center;
            text-align: center;

            & h1 {
                font-size: 4em;
            }

            & p {
                width: 90%;
                font-size: 25px;
                color: #Fff;
            }

            & .botoes {
                flex-direction: column;
                gap: 20px;
                width: 80%;
                align-items: center;

                & .botao {
                    width: 100%;
                }
            }
        }
    }
}


@media (max-width: 525px) {
    
    .hero {

        min-height: 80vh;

        & .conteudo {

            padding-top: 200px;

            & h1 {
                font-size: 3em;
            }

            & p {
                font-size: 20px;
                color: #ffffff;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 5px;
            }

            & .botoes {

                & .botao {
                padding: 20px;
                font-size: 1em;
            }
            }
            
        }
    }
}