.krav, .planos {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: #000;
    align-items: center;
}

.planos div {
    width: 50%;
}

@media (max-width: 1000px) {
    .krav, .planos {
        flex-direction: column;
        gap: 50px;
    }

    .planos div {
        width: 100%;
    }
}